<h2>Sample Client 1</h2>

<% if @user.nil? %>
	<p>
		<a href='/login'>
			Login Using Acceptto
		</a>
	</p>
<% else %>
	<p>
		Current Logged In User: <%= @user %> | <a href="/logout?service=<%= Rails.application.config.host_url %>">Sign Out</a>
	</p>
	<p>
		User Extra Attributes: <%= request.session['cas']['extra_attributes'] %>
	</p>
<% end %>
